.cart__wrap {
	@include cardView();

	&--heading {
		font-size: 20px;
		font-weight: $fontSemiBold;
		font-family: $Oswald;
		margin: 10px 0;
	}

	ul {
		margin-top: 30px;

		& > li {
			border-bottom: 1px solid $bgLightDim;
			padding: 20px 0;
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.cart__item {
		&--wrapper {
			&-imgWrap {
				@include mediaQueryMaxWidth(600px) {
					height: auto;
					width: 100%;
					margin: 0 0 20px 0;
				}

				display: flex;
				justify-content: center;
				align-items: center;
				height: 150px;
				width: 150px;
				background: $bgLight;
				border-radius: 5px;
				margin-right: 20px;

				& > img {
					height: auto;
					width: 100%;
				}
			}

			.itemDetails {
				&__heading {
					font-size: 18px;
					font-weight: $fontSemiBold;
					color: $textDark;
					font-family: $Ubuntu;
				}

				&__pricesDetails {
					font-size: 14px;
					color: $textDark;
					font-weight: $fontLight;
					font-family: $Ubuntu;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}

	&--total {
		&-checkout {
			margin: 20px 0;
			& a {
				text-decoration: none;
			}

			& button {
				margin-right: 10px;
			}

			> p {
				font-size: 18px;
				color: $textDark;
				font-weight: $fontSemiBold;
				font-family: $Oswald;
				margin: 20px 0;
			}
		}
	}
}
