@mixin rootStyle() {
	height: 100%;
	font-size: 14px;
	line-height: 1.47;
	background: $bgLight;
	font-family: $Ubuntu;
	font-weight: $fontLight;
}

@mixin anchorHoverActive() {
	text-decoration: underline;
}

@mixin anchorHover() {
	text-decoration: none;
}

@mixin transition($duration: 240ms) {
	transition: ease all $duration;
}

@mixin imageSize($height, $width) {
	height: $height;
	width: $width;
}

@mixin mediaQueryMaxWidth($max-width) {
	@media (max-width: $max-width) {
		@content;
	}
}

@mixin mediaQueryMaxHeight($max-height) {
	@media (max-width: $max-height) {
		@content;
	}
}

@mixin separator() {
	border-bottom: 1px solid rgba(155, 155, 155, 0.28);
}

@mixin cardView() {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 20px 0;
}

@mixin primaryButton() {
	display: flex;
	padding: 10px;
	background: $primary;
	border-radius: 5px;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: $Ubuntu;
	font-weight: $fontLight;
	outline: none;
	cursor: pointer;
	border: 0;
}
